* {
    box-sizing: border-box;
}

body{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}


#calculator{
    display: flex;
    flex-direction: column;
    
    height: 500px;
    width: 400px;
    padding: 10px;

    background-color: black;
}

#screen{
    font-family: monospace;
    font-size: 80px;
    text-align: end;
    background-color: lavender;

    flex: 0 1 100px;
    
    margin-bottom: 10px;

    border: 2px solid black;
    border-radius: 10px;
}

#buttons{
    display: flex;
    flex-wrap: wrap;

    height: 400px;
    
}

.btn{
    background-color: white;
    flex: 1 1 25%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;

    font-size: 20px;
}

.operation{
    background-color: aquamarine;
}

.number{
    background-color: coral;
}

.equals{
    background-color: orange;
}

.option{
    background-color: lightskyblue;
}

.percent{
    background-color: gold;
}
